Sony-Spresense-CM4hardfp_GCC48/**
Sony-Spresense-CM4hardfp_GCC48-1.0.0/**
Sony-Spresense-CM4hardfp_GCC48-fp/src/microui.properties
Sony-Spresense-CM4hardfp_GCC48-integration/work~/
Sony-Spresense-CM4hardfp_GCC48-integration/target~/
microej/Make.dep
.depend
.classpath
.gitignore
microej/*/src/*.o
microej/*.o
*.a
/bin/
microej/inc/
Sony-Spresense-CM4hardfp_GCC48-fp/src/main/resources/.widget.xsd
Spresense-Sony-CM4hardfp_GCC48-*/
microej/lib/microejapp.o
microej/lib/microej
