#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

config MICROEJ
	bool "microej runtime"
	default n
	---help---
		Enable microej

config MICROEJ_TASK_PRIORITY
	int "microej task priority"
	default 100

config MICROEJ_STACKSIZE
	int "microej stack size"
	default 4096

config MICROEJ_AUDIOPLAYER
    bool "MicroEJ audio library LLAPIs"
    default n
    ---help---
        Enable the C API for the audio library. You need to configure the SDK with the audio player example configuration in order for this to work. The minimal amount of shared memory used by the shared memory mapping for audio functions is 0x80000

config MICROEJ_GNSS
    bool "MicroEJ gnss library LLAPIs"
    default n
    ---help---
        Enable the C API for gnss. You need to configure the SDK with the gnss example for this to work.


