CONFIG_SDK_USER_ENTRYPOINT="microjvm_main"
CONFIG_CXD56_SDIO=y
CONFIG_CXD56_SPI=y
CONFIG_CXD56_DMAC_SPI4_TX=y
CONFIG_CXD56_DMAC_SPI4_RX=y
CONFIG_CXD56_AUDIO=y
CONFIG_LCD=y
CONFIG_LCD_ILI9340=y
CONFIG_LCD_ILI9340_IFACE0=y
CONFIG_CXD56_GNSS=y
CONFIG_CXD56_GNSS_CEP_FILENAME="/mnt/vfat/gnss_cep.bin"
CONFIG_GPSUTILS_CXD56NMEA_LIB=y
CONFIG_SDK_AUDIO=y
CONFIG_AUDIOUTILS_PLAYER=y
CONFIG_MEMUTILS=y
CONFIG_ASMP=y
CONFIG_ASMP_MEMSIZE=0x80000
CONFIG_MICROJVM=y
CONFIG_MICROEJ_AUDIOPLAYER=y
CONFIG_MICROEJ_GNSS=y
